footer{
    background-color: #45637d;
}
footer .mask{
    background-color: rgba(251, 251, 251, 0.2);
}
footer .text-center.p-3{
    background-color: rgba(0, 0, 0, 0.2);
}
.flash  {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}

.flash-success   {
    background-color: #6b9311;
}

.flash-error    {
    background-color: #AA3333;
}

